@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

root {
  --foreground-rgb: hsl(0, 0%, 0%);
  --background-rgb: hsl(0, 0%, 100%);
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  min-width: 100%;
  aspect-ratio: 1;
  gap: 2rem;
}

.embla__viewport {
  max-width: clamp(100%, 25vw, 30rem);
  aspect-ratio: 1;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  object-fit: cover;
}
